/*FORMAT SITE*/
h1 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h3 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 200; line-height: 20px; }

#qui,#comp,#parc,#form,#contact{
  font-size: 70px;
  opacity: 0.09;
  text-align: center;
  font-style:italic;
  position: absolute;
  left: 33vw;
  z-index:-1;
}

#présentation{
  text-align: center;

}
.présentation{
  padding:100px;
  height: 500px;
}
nav{
  background-image: linear-gradient(to right top, #ff7948, #ff3a5c, #ff0086, #e200c0, #7900ff);
  opacity: 0.7;
  text-align: center;
}

header{
  height: 100vh;
  background-image: url(../img/ordi2.jpg);
  background-size: cover;
}
li{
color:white;
display: inline-block;
padding: 50px;
font-family:
"Helvetica";
font-size: 23px;
font-weight: bold;
opacity:0.5;
text-align: center;}

li:hover{
  background-color: #000000;
  opacity:1;
}

.compétences img{
  width: 80px;
  padding: 9%;
}
.compétences{
  display: flex;
  justify-content: space-around;
}
.soft,.hard{
  display: inline-block;
  width: 20%;
  height: 480px;
  background-image: linear-gradient(to right top, #ff7948, #ff3a5c, #ff0086, #e200c0, #7900ff);
  text-align:center;
  color: white;
  border-radius: 100px;
}
.soft{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}


.formation{
  height: 300px;
  text-align: center;
}

.parcours{
  height: 300px;
  text-align: center;
}
.footer{
  color: white;
  text-align: center;
  background-color: black;
  padding: 30px;
}

/*FORMAT MOBILE*/

@media screen and (max-width:768px)
{
header{
  background-image: url(../img/back_mobile.jpg);
  background-position:center;
  height: 178vh;
  width:100%;}

}
header h1{
  color: white;
  text-align: center;
  opacity: 0.8;
  font-style: italic;
  font-weight:lighter;
  padding-top: 5%;

}
